@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {font-family: asap; src: url(./Asap-VariableFont_wdth\,wght.ttf);}
@font-face {font-family: gsans; src: url(./OpenSans-VariableFont_wdth\,wght.ttf);}
* { 
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'asap';
    scroll-behavior: smooth;
}

body {
  background-color: rgb(66, 66, 66);
}


/* HEADER */
/* HEADER */
/* HEADER */
header {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    z-index: 10;
}

#top {
    background: rgb(69, 69, 69);
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;

}
#top-left {
    width: 30%;
}

#header-top-container {
    padding: 0px 24px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* background-color: white; */
}



#top-left ul {
    display: flex;
    color: white;
    height: 100%;
    font-family: 'Roboto';
    /* background-color: aliceblue; */
    align-items: center;

}

#top-left ul li {
    list-style: none;
    padding: 7px 20px;
    /* width: 250px; */
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
 
}
#top-left ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#top-li-1 {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
#top-li-1:hover img {
    transform: rotateZ(180deg);
}
#top-li-1 p {margin: 12px;}
#top-li-1 img {
    width: 16px;
    margin: 8px;
    transition: 0.4s;
}

#top-li-2 {font-size: 12px;}
#top-li-2 a {
    color: white;
    text-decoration: none;
}
#top-li-3 {
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.3);
}
#top-li-3 a {
    color: white;
    text-decoration: none
}


#top-right {
    display: flex;
    justify-content: end;
    color: white;
    font-family: asap;
    align-items: center;
    margin: 0px 40px;
    /* background-color: wheat; */
    width: 70%;
    
    
}

#top-right input {
    margin-left: 8px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 12px;
    width: 150px;
    color: rgb(49, 49, 49);
    font-family: 'asap';
 
}

#top-right input::placeholder {
    font-family: 'asap';
    padding: 4px;
}
#top-right i {

    margin-left: 8px;
}




#bottom {
    width: 100%;
    height: 108px;
    background: rgb(255, 163, 26);
    display: flex;
    
}
#bottom-container {
    padding: 0px 24px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}



#bottom-left img {
    width: 100px;
    transition: 0.4s;
}
#bottom-left img:hover {
    scale: 1.5;
}
#bottom-left {
    width: 20%; 
    display: flex;
    justify-content: center;
    height: 100%;
}
#bottom-right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
text-align: center;

}
#bottom-right ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#bottom-right ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
    font-family: 'asap';
    margin: 0px 0px;
    padding: 0px 40px;
    height: 100%;
    cursor: pointer;
    font-weight: 700;
    /* font-size: 20px; */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);;
    transition: 0.4s;
}
#bottom-right ul li a {color: white; text-decoration: none;}
#bottom-right ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}



#divhidden {height: 100%;
display: flex;
height: 100%;
}

#divhidden-300 {
    display: flex;
    height: 100%;
}











/*  MAIN  */
/*  MAIN  */
/*  MAIN  */
main {

    overflow: hidden;
    display: flex;
    color: white;
    height: calc(100vh - 300px);
    /* background: rgb(255, 163, 26); */
    background: rgb(234, 234, 234);
    margin-top: 0px;
    justify-content: center;
    /* align-items: center; */
    /* background-image: url(/fitness-main-img.jpg); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    flex-direction: column;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.4);
    /* border-top: 1px solid rgb(60, 60, 60); */
    
}
#main-container {
    max-width: 100% ;
    margin: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main-container-left {
    max-width: 600px;
}

#main-container-right {
    max-width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */

}

#imgreverse {
    transform: rotateY(180deg);
}


#main-container-right img {
    width: 600px;
    margin: -180px;
    transition: 0.4s;
    filter: drop-shadow(4px 1px 4px black);
}
#heroimg {
    width: 600px;
}
#main-container h1 img{
   width: 400px;
   filter: drop-shadow(1px 1px 1px black)
}
#main-container p{
    margin: 12px 0px;
    text-align: justify;
    line-height: 28px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    border-radius: 4px;
    padding: 8px;
    font-weight: 600;
    color: rgb(20, 20, 20);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);


} 


#main-btn {
    background-color: rgba(25, 25, 25, 1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    font-weight: 700;
    /* text-shadow: 1px 1px 1px rgb(0, 0, 0); */
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

#main-btn:hover {
    background-color: rgba(25, 25, 25, 0.3);
}

#main-btn a {
    color: white;
    text-decoration: none;
}














#divisoria0 {
    width: 100%;
    height: 180px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8); */
}
#divisoria1 {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
  
    
    
}

/* MAIN PARA LOJISTAS */
/* MAIN PARA LOJISTAS */
/* MAIN PARA LOJISTAS */
#main-para-lojistas {
    color: rgb(29, 29, 29);
    /* margin-top: 80px; */
    width: 100%;
    height: 800px;
    background: rgb(255, 255, 255);
    padding: 36px;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.4);

}

#para-lojistas-top {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

#para-lojistas-top h1{
    font-size: 4rem;
 text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
 font-family: 'Roboto';
}
#para-lojistas-top p{
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    text-align: justify;
    width: 95%;
    font-family: 'Roboto';
    font-weight: 600;
}

#para-lojistas-top img {
    width: 100%;
}
#para-lojistas-top-header {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* MAIN PARA FABRICANTES */
/* MAIN PARA FABRICANTES */
/* MAIN PARA FABRICANTES */

#main-para-fabricantes {
    margin-top: 120px;
    width: 100%;
    height: 500px;
    background-color: rgb(244, 201, 101);
}







/* MAIN BAIXE O APP*/
/* MAIN BAIXE O APP*/
/* MAIN BAIXE O APP*/








/* FOOTER */
/* FOOTER */
/* FOOTER */
footer {
    margin-top: 80px;
    background-color: rgb(98, 98, 98);
    width: 100%;
    height: 200px;
}






@media only screen and (max-width: 1400px) {
    #main-container-right img {
        width: 400px;
        margin: -100px;
    }
    #main-container-left {
        max-width: 500px;
    }
    #main-container {
        justify-content: center;
    } 
}



/* 900px */
/* 900px */
/* 900px */
@media only screen and (max-width: 900px) {
    #top {height: 44px;}
    #header-top-container {
        padding: 0px 0px;
    }
    #bottom-right ul li {
        font-size: 12px;
        padding: 0px 0px;
        text-transform: uppercase;
    }
    #top-li-1 {
        margin-left: 0px;
    }
    #top-left {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    #bottom-container {
        padding: 0px 0px;
    }
    #bottom-right {
        width: 80%;
        justify-content: space-around;
    }
    #bottom-right ul {width: 100%; justify-content: end; padding: 24px}
    #bottom-right ul li {margin: 4px; font-size: 16px;text-align: center;}
    #divhidden {display: none;}
    #main-container h1 img{width: 300px;}
    main {
        height: 75vh;
        margin-top: 0px;
    /* background-size: 500%; */
    }
    #main-container h1 {font-size: 2rem;}
    #main-container p {font-size: 0.9rem;}


    #divhidden-300 {
        /* background-color: red; */
        height: 100%;
        width: 60%;
        display: flex;
        justify-content: space-around;
    }







}














/* 500px */
/* 500px */
/* 500px */
@media only screen and (max-width: 500px) {
    #bottom-left {scale: 0.7;}
    #bottom-right ul li {margin: 2px; font-size: 12px;text-align: center;}
    main {
        height: 110vh;
        align-items: start;
        justify-content: start;
        /* background-size:500%; */
        margin-top: -50px;
    }

    #top-left ul li {font-size: 12px;}
    header {height: 92px;}
    #bottom {height: 60px;}
    #bottom-left img {width: 100px; height: 100px;margin-top: -20px;}
 
    #main-container-right img {
        width: 300px;
        margin: -90px;
        margin-top: -360px;
    }

}